<html xmlns="http://www.thymeleaf.org">
    <head th:replace="fragments/header::header('404')"></head>
    <body>
        <nav th:if="${activePage != null && subPages != null}" th:replace="fragments/header::navigation(${activePage},${subPages})"></nav>
        <main>
            <error-info>
                <i class="fa-regular fa-face-frown"></i>
                <h1>404</h1>
                <h2>Pagina non trovata</h2>
                <p>Questa pagina non esiste, o il link è malformato. Se l'errore persiste conttata l'amministratore del servizio.</p>
            </error-info>
        </main>
    </body>
</html>