<html xmlns="http://www.thymeleaf.org">
    <head th:replace="fragments/header::header('Sensor types List')"></head>
    <body>
        <nav th:replace="fragments/header::navigation(${activePage},${subPages})"></nav>
        <main>
            <div class="content">
                <section class="title">
                    <div class="info">
                        <h1>Sensor Type's</h1>
                        <h2>See all sensor type's list</h2>
                    </div>
                    <div class="buttons">
                        <a th:href="@{/sensorTypes/new}"><i class="fa-solid fa-plus"></i><span>Add new</span></a>
                    </div>
                </section>
                <section class="viewTable">
                    <section-title>
                        <span>Sensor type's List</span>
                    </section-title>
                    <section-content>
                        <form th:action="@{/sensorTypes}" method="get">
                            <table cellspacing="0" cellpadding="0">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Format</th>
                                    <th></th>
                                </tr>
                                <tr class="filter">
                                    <td>
                                        <input type="text" name="id" th:value="${filter!=null&&filter.id!=null?filter.id:''}"/>
                                    </td>
                                    <td>
                                        <input type="text" name="name" th:value="${filter!=null&&filter.name!=null?filter.name:''}" />
                                    </td>
                                    <td>
                                        <input type="text" name="format" th:value="${filter!=null&&filter.format!=null?filter.format:''}" />
                                    </td>
                                    <td>
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" th:text="${'Result: '+(#lists.size(sensorTypes))+' Sensor Types'}"></td>
                                </tr>
                                <tr th:each="sensorType:${sensorTypes}" class="item" th:data-url="@{${'/sensorTypes/'+sensorType.id}}">
                                    <td th:text="${sensorType.id}"></td>
                                    <td th:text="${sensorType.name}"></td>
                                    <td th:text="${sensorType.format}"></td>
                                    <td><i class="fa-solid fa-eye"></i></td>
                                </tr>
                            </table>
                            <script id="temp">
                                $(document).on("change","tr input, tr select", function(){
                                    $(this).parents("form").submit();
                                })
                                $(document).on("click","tr.item",function(){
                                    window.location.href = $(this).attr("data-url");
                                })
                                $("#temp").remove();
                            </script>
                        </form>
                    </section-content>
                </section>
            </div>
        </main>
    </body>
</html>