:root{

    --hex-opacity-0: 00;
    --hex-opacity-5: 0C;
    --hex-opacity-10: 19;
    --hex-opacity-15: 26;
    --hex-opacity-20: 33;
    --hex-opacity-25: 3F;
    --hex-opacity-30: 4C;
    --hex-opacity-35: 59;
    --hex-opacity-40: 66;
    --hex-opacity-45: 72;
    --hex-opacity-50: 7F;
    --hex-opacity-55: 8C;
    --hex-opacity-60: 99;
    --hex-opacity-65: A5;
    --hex-opacity-70: B2;
    --hex-opacity-75: BF;
    --hex-opacity-80: CC;
    --hex-opacity-85: D8;
    --hex-opacity-90: E5;
    --hex-opacity-95: F2;
    --hex-opacity-100: FF;

    --main: #FFFFFF;
    --bg: #F6F5F8;
    --accent: #23C95B;
    --border: #00000019;
    --text: #183153;

    --font-primary: "New Spirit";
    --font-secondary: "Syne";
}