<html xmlns="http://www.thymeleaf.org">
    <head th:replace="fragments/header::header('Devices List')"></head>
    <body>
        <nav th:replace="fragments/header::navigation(${activePage},${subPages})"></nav>
        <main>
            <div class="content">
                <section class="title">
                    <div class="info">
                        <h1>Device's</h1>
                        <h2>See all device's list</h2>
                    </div>
                </section>
                <section class="viewTable">
                    <section-title>
                        <span>Device's List</span>
                    </section-title>
                    <section-content>
                        <form th:action="@{/devices}" method="get">
                            <table cellspacing="0" cellpadding="0">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Slots</th>
                                    <th>Model</th>
                                    <th>Firmware</th>
                                    <th>Irrigation</th>
                                    <th></th>
                                </tr>
                                <tr class="filter">
                                    <td>
                                        <input type="text" name="id" th:value="${filter!=null&&filter.id!=null?filter.id:''}"/>
                                    </td>
                                    <td>
                                        <input type="text" name="name" th:value="${filter!=null&&filter.name!=null?filter.name:''}" />
                                    </td>
                                    <td>
                                        <input type="number" name="slots" min="0" th:value="${filter!=null&&filter.slots!=null?filter.slots:''}" />
                                    </td>
                                    <td>
                                        <input type="text" name="model" th:value="${filter!=null&&filter.model!=null?filter.model:''}" />
                                    </td>
                                    <td>
                                        <input type="text" name="firmware" th:value="${filter!=null&&filter.firmware!=null?filter.firmware:''}" />
                                    </td>
                                    <td>
                                        <select name="irrigation">
                                            <option value="" default></option>
                                            <option th:text="Enabled" value="1" th:selected="${filter!=null&&filter.irrigation!=null&&filter.irrigation==true}"></option>
                                            <option th:text="Disabled" value="0" th:selected="${filter!=null&&filter.irrigation!=null&&filter.irrigation==false}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7" th:text="${'Result: '+(#lists.size(devices))+' Devices'}"></td>
                                </tr>
                                <tr th:each="device:${devices}" class="item" th:data-url="@{${'/devices/'+device.id}}">
                                    <td th:text="${device.id}"></td>
                                    <td th:text="${device.name}"></td>
                                    <td th:text="${device.slots}"></td>
                                    <td th:text="${device.model}"></td>
                                    <td th:text="${device.firmware}"></td>
                                    <td th:text="${device.irrigation==true?'Enabled':'Disabled'}"></td>
                                    <td><i class="fa-solid fa-eye"></i></td>
                                </tr>
                            </table>
                            <script id="temp">
                                $(document).on("change","tr input, tr select", function(){
                                    $(this).parents("form").submit();
                                })
                                $(document).on("click","tr.item",function(){
                                    window.location.href = $(this).attr("data-url");
                                })
                                $("#temp").remove();
                            </script>
                        </form>
                    </section-content>
                </section>
            </div>
        </main>
    </body>
</html>