<html xmlns="http://www.thymeleaf.org">
    <head th:replace="fragments/header::header(${device.name})"></head>
    <body>
        <nav th:replace="fragments/header::navigation(${activePage},${subPages})"></nav>
        <main>
            <div class="deviceModulesPreview"  th:style="${'--sep:'+(#lists.size(modules))/2}">
                <div class="module" th:each="module:${modules}">
                    <img th:src="@{${module.plant.id!=null?module.plant.imgPath:'/images/no_image.png'}}">
                </div>
            </div>
            <div class="content">
                <section class="title">
                    <div class="info">
                        <h1 th:text="${device.name}"></h1>
                        <h2 th:text="${device.model}"></h2>
                    </div>
                </section>
                <section class="info">
                    <section-title>
                        <span>Info</span>
                    </section-title>
                    <section-content>
                        <div class="infoBox">
                            <h1>Device</h1>
                            <div class="label">
                                <span>Status:</span>
                                <span th:text="${device.status?'Online':'Offline'}"></span>
                            </div>
                            <div class="label">
                                <span>Device ID:</span>
                                <span th:text="${device.id}"></span>
                            </div>
                            <div class="label">
                                <span>Irrigation:</span>
                                <span th:text="${device.irrigation==true?'Enabled':'Disabled'}"></span>
                            </div>
                        </div>
                        <div class="infoBox">
                            <h1>Connettivity</h1>
                            <div class="label">
                                <span>Network:</span>
                                <span th:text="${device.network}"></span>
                            </div>
                            <div class="label">
                                <span>IP Address:</span>
                                <span th:text="${device.ipAddress}"></span>
                            </div>
                            <div class="label">
                                <span>MAC Address:</span>
                                <span th:text="${device.macAddress}"></span>
                            </div>
                        </div>
                        <div class="infoBox">
                            <h1>System</h1>
                            <div class="label">
                                <span>Firmware:</span>
                                <span th:text="${device.firmware}"></span>
                            </div>
                            <div class="label">
                                <span>Uptime:</span>
                                <span th:text="${device.getUptimeStr()}"></span>
                            </div>
                        </div>
                    </section-content>
                </section>
                <section class="viewTable">
                    <section-title>
                        <span>Module's</span>
                    </section-title>
                    <section-content>
                        <form th:action="@{${'/devices/'+device.id}}" method="get">
                            <table>
                                <tr>
                                    <th>Nome</th>
                                    <th>Slot</th>
                                    <th>Status</th>
                                    <th>Irrigation</th>
                                    <th>Plant</th>
                                    <th></th>
                                </tr>
                                <tr class="filter">
                                    <td>
                                        <input type="text" name="name" th:value="${filter!=null?filter.name:''}" />
                                    </td>
                                    <td>
                                        <input type="number" name="slot" min="0" max="${#lists.size(modules)}" th:value="${filter!=null?filter.slot:''}" />
                                    </td>
                                    <td>
                                        <select name="status">
                                            <option value="" default></option>
                                            <option th:text="Enabled" value="1" th:selected="${filter!=null&&filter.status==true}"></option>
                                            <option th:text="Disabled" value="0" th:selected="${filter!=null&&filter.status==false}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="irrigation">
                                            <option value="" default></option>
                                            <option th:text="Enabled" value="1" th:selected="${filter!=null&&filter.irrigation==true?'true':'false'}"></option>
                                            <option th:text="Disabled" value="0" th:selected="${filter!=null&&filter.irrigation==false?'true':'false'}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="plant">
                                            <option value="" default></option>
                                            <option th:each="plant:${plants}" th:text="${plant.name}" th:value="${plant.id}" th:selected="${filter!=null&&filter.plant==plant.id}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" th:text="${'Result: '+(#lists.size(modulesFiltered))+' Modules'}"></td>
                                </tr>
                                <tr th:each="module:${modulesFiltered}" class="item" th:data-url="@{${'/modules/'+device.id+'/'+module.slot}}">
                                    <td th:text="${module.name}"></td>
                                    <td th:text="${module.slot}"></td>
                                    <td th:text="${module.status==true?'Enabled':'Disabled'}"></td>
                                    <td th:text="${module.irrigation==true?'Enabled':'Disabled'}"></td>
                                    <td th:text="${module.plant.id!=null?module.plant.name:'Not configured'}"></td>
                                    <td><i class="fa-solid fa-eye"></i></td>
                                </tr>
                            </table>
                        </form>
                        <script id="temp">
                            $(document).on("change","tr input, tr select", function(){
                                $(this).parents("form").submit();
                            })
                            $(document).on("click","tr.item",function(){
                                window.location.href = $(this).attr("data-url");
                            })
                            $("#temp").remove();
                        </script>
                    </section-content>
                </section>
                <section class="settings">
                    <section-title><span>Settings</span></section-title>
                    <section-content>
                        <form th:action="@{${'/devices/'+device.id+'/save'}}" th:object="${device}" method="post">
                            <div class="inputList">
                                <div class="inputBox">
                                    <label>Device name</label>
                                    <input type="text" th:field="*{name}" required>
                                </div>
                                <div class="inputBox">
                                    <label>Irrigation</label>
                                    <select th:field="*{irrigation}" required>
                                        <option th:text="Enabled" value="1" th:selected="${irrigation==true?'true':'false'}"></option>
                                            <option th:text="Disabled" value="0" th:selected="${irrigation==false?'true':'false'}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="submit">
                                <input type="submit" value="Save">
                                <a th:href="@{${'/devices/'+device.id+'/delete'}}">Delete</a>
                            </div>
                        </form>
                    </section-content>
                </section>
            </div>
        </main>
    </body>
</html>