<head th:fragment="header(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/colors.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<nav th:fragment="navigation(activePage, subPages)">
    <div class="pages">
        <div class="logo">
            <img th:src="@{/images/logo.svg}">
        </div>
        <div class="pagesList">
            <a th:href="@{/views}" th:active="${activePage.id=='views'}"><i class="fa-solid fa-grip"></i></a>
            <a th:href="@{/dashboards}" th:active="${activePage.id=='dashboards'}"><i class="fa-solid fa-gauge"></i></a>
            <a th:href="@{/settings}" th:active="${activePage.id=='settings'}"><i class="fa-solid fa-sliders"></i></a>
            <div class="spacer"></div>
        </div>
    </div>
    <div class="subPages" th:if="${subPages!=null}">
        <a th:each="subPage: ${subPages}" th:href="${subPage.url}" th:active="${subPage.id==activePage.subPage}" th:text="${subPage.name}"></a>
    </div>
    <div class="pathNavigator">
        <a href="javascript:history.back()"><i class="fa-solid fa-angle-left"></i></a>
        <div class="subPath" th:each="path, i: ${activePage.navigator}">
            <span th:if="${i.index>0}">/</span>
            <a th:href="${path.url}" th:text="${path.name}"></a>
        </div>
    </div>
</nav>