<html xmlns="http://www.thymeleaf.org">
    <head th:replace="fragments/header::header('Plants List')"></head>
    <body>
        <nav th:replace="fragments/header::navigation(${activePage},${subPages})"></nav>
        <main>
            <div class="content">
                <section class="title">
                    <div class="info">
                        <h1>Plant's</h1>
                        <h2>See all plant's list</h2>
                    </div>
                    <div class="buttons">
                        <a th:href="@{/plants/new}"><i class="fa-solid fa-plus"></i><span>Add new</span></a>
                    </div>
                </section>
                <section class="viewTable">
                    <section-title>
                        <span>Plant's List</span>
                    </section-title>
                    <section-content>
                        <form th:action="@{/plants}" method="get">
                            <table cellspacing="0" cellpadding="0">
                                <tr>
                                    <th class="img"></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Gerogliation time</th>
                                    <th>Outdoor</th>
                                    <th>Type</th>
                                    <th>Plant Info</th>
                                    <th>Allevation info</th>
                                    <th></th>
                                </tr>
                                <tr class="filter">
                                    <td class="img"></td>
                                    <td>
                                        <input type="text" name="id" th:value="${filter!=null&&filter.id!=null?filter.id:''}"/>
                                    </td>
                                    <td>
                                        <input type="text" name="name" th:value="${filter!=null&&filter.name!=null?filter.name:''}" />
                                    </td>
                                    <td>
                                        <input type="number" name="germogliationTime" min="0" th:value="${filter!=null&&filter.germogliationTime!=null?filter.germogliationTime:''}" />
                                    </td>
                                    <td>
                                        <select name="outdoor">
                                            <option value="" default></option>
                                            <option value="1" th:selected="${filter!=null&&filter.outdoor==true}">External</option>
                                            <option value="0" th:selected="${filter!=null&&filter.outdoor==false}">Internal</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="plantType">
                                            <option value="" default></option>
                                            <option th:each="plantType: ${plantTypes}" th:value="${plantType.id}" th:text="${plantType.name}" th:selected="${filter!=null&&filter.plantType==plantType.id}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="plantInfo" th:value="${filter!=null&&filter.plantInfo!=null?filter.plantInfo:''}" />
                                    </td>
                                    <td>
                                        <input type="text" name="allevationInfo" th:value="${filter!=null&&filter.allevationInfo!=null?filter.allevationInfo:''}" />
                                    </td>
                                    <td>
                                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9" th:text="${'Result: '+(#lists.size(plants))+' Plants'}"></td>
                                </tr>
                                <tr th:each="plant:${plants}" class="item" th:data-url="@{${'/plants/'+plant.id}}">
                                    <td class="img"><img th:src="@{${plant.imgPath}}"></td>
                                    <td th:text="${plant.id}"></td>
                                    <td th:text="${plant.name}"></td>
                                    <td th:text="${plant.germogliationTime}"></td>
                                    <td th:text="${plant.outdoor?'External':'Internal'}"></td>
                                    <td th:text="${plant.type.id!=null?plant.type.name:'Not defined'}"></td>
                                    <td th:text="${plant.plantInfo}"></td>
                                    <td th:text="${plant.allevationInfo}"></td>
                                    <td><i class="fa-solid fa-eye"></i></td>
                                </tr>
                            </table>
                            <script id="temp">
                                $(document).on("change","tr input, tr select", function(){
                                    $(this).parents("form").submit();
                                })
                                $(document).on("click","tr.item",function(){
                                    window.location.href = $(this).attr("data-url");
                                })
                                $("#temp").remove();
                            </script>
                        </form>
                    </section-content>
                </section>
            </div>
        </main>
    </body>
</html>